@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}


[data-aes-info] {
    display: none;
}
  
.active2[data-aes-info] {
    display: block; 
}
  

.aes{
    display:flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}  
.aesMenu{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:space-around;
    align-items: center;
    cursor:pointer;
    height:2.5rem;
    border-bottom: 1px solid rgb(140, 138, 138);
    border-top: 1px solid rgb(131, 131, 131);
    background-color: rgb(235, 250, 245);
}
.aesMenu span{
    font-family: sans-serif;
    font-size: large;
    padding:0 3rem;
    padding-bottom: 0.5rem;
}
.aes-content{
    width:100%;
    height:100%;
   
}
.aesMenu span:hover{
    color:rgb(136, 23, 242);
    transition: ease-in-out 0.2s;
}
.aesMenu span.activeaestab{
    border-bottom: 0.2rem solid rgb(18, 165, 165);
    color:rgb(136, 23, 242);
    cursor: pointer; 
}
.aes-content__aes{
    width:100%;
    height:100%;
}
.aesCipherDecipher{
    display:flex;
    width:100%;
    height:100%;
    background-color: rgb(217, 251, 251);
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

/* input page css */
.aesContainer{
    margin:2rem;
    width:80%;
    height:80%;
    background-color: rgb(228, 206, 248);
    border-radius: 0.5rem;
    display:flex;
    flex-direction: column;
}

.aesContainer h1{
    font-family: sans-serif;
    font-weight:bold ;
    font-size: large;
    padding:1rem 1rem;
}
.aesContainer p{
  margin-left:1rem ;
  color:red;
}
.aesContainer span{
    color:rgb(4, 126, 126)
}
.aesContainer label{
    font-family: sans-serif;
    font-weight:bold ;
    font-size: large;
    margin-left: 2rem;
}

.aeskey, .aesplaintext, .aesciphertext{
   display:flex;
   flex-direction: row;
   margin-top: 1.5rem;
}
.aeskey input,.aesplaintext input, .aesciphertext input{
    margin-left: 2rem;
    width:25rem;
    height:2.5rem;
    border-radius: 2rem;
    border:none;
    text-align: center;
}
.aesplaintext button, .aesciphertext button{
    margin-left: 2rem;
    width:4rem;
    height:2rem;
    cursor: pointer;
}

.aesContainer hr{
    margin-top: 1rem;
}

.aesContainer button{
    width:4rem;
    height:2rem;
    align-self: flex-end;
    margin-right: 2rem;
    margin-top: 1rem;
}

.aesTransformedTable{
    margin-top: 0.5rem;
    width:50rem;
    height:12rem;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    align-self: center;
    scroll-behavior: smooth;
    background-color: rgb(197, 148, 243);
}
.aesTransformedTable p{
    align-self: center;
    /* justify-self: center; */
    position:absolute;
}
.aesTransformedTable span{
    margin-top: 2rem;
}
.aesTransformedTable table{
    margin-left: 2rem;
    margin-top: 1rem;
    
}

/* simulator css */
.aesSimulate{
    display:flex;
    width:100%;
    height:100%;
    background-color: rgb(217, 251, 251);
    flex-direction: column;
    align-items: center;
}

.verticalLine1{
    display:block;
    transform: rotate(90deg);
       border: 1px solid black;
       width:37rem;
       position:relative;
       top:44%;
}
.horizontalLine1{
    display:block;
       border: 1px solid black;
       width:10rem;
       position:relative;
       top:54.2%;
       left:6.6%;
}
.verticalLine2{
    display:block;
    transform: rotate(90deg);
       border: 1px solid black;
       width:12rem;
       position:relative;
       top:40.1%;
       left:13.3%;
}
.horizontalLine2{
    display:block;
       border: 1px solid black;
       width:10rem;
       position:relative;
       top:26.2%;
       left:6.6%;
}
.aesInitialState{
    margin:1rem;
}
.aesInitialState td,tr{
    width:0.3rem ;
    height:0.7rem;
    font-size: 0.6rem;
    
}
.aesAddRoundKey{
    width:15rem;
    height:2rem;
    border-radius:1rem;
    background-color: rgb(97, 245, 117);
    display: flex;
    align-items: center;
    justify-content: center;
}
.aesTheRoundsMajorDiv{
    margin-top: 1rem;
    border-top-style: dotted;
    border-bottom-style: dotted;
    width:80%;
    height:40%;
    z-index: 2;
}
.aesLastRoundMajorDiv{
    width:80%;
    height:40%;
    justify-content:space-around ;
    z-index: 2;
    
}
.aesFirstRoundMajorDiv{
    width:80%;
    height:20%;
    z-index: 2;
}
.firstRoundKey{
    height:80%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:17%;
    align-self: center;
    flex-direction: column;

}
.lastRoundKey{
    height:50%;
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:20%;
    align-self: center;
    flex-direction: column;

}
.aesTheRoundsMajorDiv,.aesLastRoundMajorDiv,.aesFirstRoundMajorDiv{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
}
.roundKey,.firstRoundKey,.lastRoundKey{
    border:1px solid black;
}
.roundKey,.roundsText{
    display:flex;
    justify-content:space-between;
    align-items: center;
    width:17%;
    height:50%;
    align-self: center;
    flex-direction: column;
}
.roundKey table,.lastRoundKey table,.firstRoundKey table{
    margin-bottom: 1rem;
}
.counter{
    display: flex;
    flex-direction: column;
    background-color: black;
    align-items: center;
    border-radius: 0.2rem;
    padding:0.5rem;
    margin-bottom: 0.5rem;
}
.counter p{
    font-size: small;
}
.counter p,.counter h3{
    color: white;
}
.aesTheRounds{
    margin-top: 1rem;
    width:25%;
    height:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aesTheRounds p,.aesLastRound p,.aesFirstRound p{
    width:15rem;
    height:2rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;
}
.aesFirstRound{
    margin-top: 5rem;
}
.aesTheRounds p:first-child,.aesLastRound p:first-child{
    background-color: rgb(83, 178, 225);
}

.aesTheRounds p:nth-child(2),.aesLastRound p:nth-child(2){
    background-color: rgb(248, 100, 94);
}
.aesTheRounds p:nth-child(3){
    background-color: rgb(232, 246, 106);
}
.aesTheRounds p:last-child,.aesLastRound p:last-child,.aesFirstRound p{
    background-color: rgb(97, 245, 117);
}
.aesLastRound{
    margin-top: 1rem;
    width:80%;
    height:40%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.aesStateArray{
    position: absolute;
    top:15rem;
    z-index: 5;
}
.aesSimulationBottomDiv{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content: space-between;
}
.aesSimulationBottomDiv button{
    width:fit-content;
    height:2rem;
    margin-left: 2rem;
}
.aesSimulateButton{
    display:flex;
    flex-direction: row;
    width:100%;
    justify-content:flex-end;
}
.aesSimulateButton button{
    margin-bottom:1rem;
    padding:0.5rem 1rem;
    cursor: pointer;
    margin-left: 1rem;
    margin-right: 1rem;

}

/* aes animation */

.aesFirstMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:slide;
  animation-duration: 3s;
}
.aesSubBytesMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:sub-byte;
  animation-duration: 3s;
}
.aesShiftrowMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:shift-row;
  animation-duration: 2.5s;
}
.aesMixColMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:mix-col;
  animation-duration: 2.5s;
}
.aesXorKeyMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:xor-key;
  animation-duration: 2.5s;
}
.aesTraverseBackMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:traverse-back;
  animation-duration: 3s;
}
.aesLastRoundSubByteMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:last-round-sub-byte;
  animation-duration: 3s;
}
.aesLastRoundShiftRowsMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:last-round-shift-rows;
  animation-duration: 3s;
}
.aesLastRoundXorKeyMoveAnimation{
    animation-fill-mode: forwards;
    animation-name:last-round-xor-key;
  animation-duration: 3s;
}

.aesKeyMoveAnimation{
    animation-name: move-key-aes;
    animation-duration: 2s;
}


@keyframes move-key-aes {
    0%{transform:translateY(0rem);opacity: 1;}
    30%{transform:translateY(3.5rem);opacity: 0.7;}
    100%{transform:translateY(3.5rem) translateX(-20rem);opacity: 0;}
}
@keyframes slide {
    0%{transform:translateY(0rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(7rem);opacity: 1;}
}

@keyframes sub-byte{
    0%{transform:translateY(7rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(12rem);opacity: 1;}
}
@keyframes shift-row{
    0%{transform:translateY(12rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(14.8rem);opacity: 1;}
}
@keyframes mix-col{
    0%{transform:translateY(14.8rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(17.8rem);opacity: 1;}
}
@keyframes xor-key{
    0%{transform:translateY(17.8rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(20.5rem);opacity: 1;}
}
@keyframes traverse-back{
    0%{transform:translateY(20.5rem);}
    35%{transform:translateX(11rem) translateY(20.5rem);}
    70%{transform:translateX(11rem) translateY(7rem);}
    100%{transform:translateY(7rem) translateX(0rem);}
}
@keyframes last-round-sub-byte{
    0%{transform:translateY(20.5rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(27rem);opacity: 1;}
}
@keyframes last-round-shift-rows{
    0%{transform:translateY(27rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(30rem);opacity: 1;}
}
@keyframes last-round-xor-key{
    0%{transform:translateY(30rem);opacity: 1;}
    50%{opacity: 0;}
    100%{transform:translateY(33rem);opacity: 1;}
}


.aesBackdrop{
    position: absolute;
  top: 0;
  left: 0;
  height: 115%;
  width: 100%;
  z-index: 10;
  background-color: rgb(15, 15, 15);
  opacity: 0.6;
  display:none;
}
.aesModal{
    position: absolute;
    width:80%;
    height:88%;
    z-index:11;
    top:10%;
    left:10%;
    display:none;
    background-color: white;
    border-radius: 0.3rem;
}
.aesSubByteModal,.aesShiftRowModal,.aesMixColModal,.aesXorKeyModal,.aesFirstRoundXorKeyModal,.aesLastSubByteModal,.aesLastShiftRowsModal,.aesLastXorKeyModal{
    position: absolute;
    width:70%;
    height:80%;
    z-index:11;
    top:27%;
    left:17%;
    display:none;
    background-color: white;
    border-radius: 0.3rem;
}

.aesHeadingValue{
    width:100%;
    height:5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.aesHeadingValue p{
    color: black;
    
}
.aesHeadingValue :first-child{
  margin-left: 12rem;
}
.aesHeadingValue :last-child{
    margin-right: 6rem;
  }
.aesTransformedValueTable{
     width:100;
     height:80%;
     overflow-y: scroll;
     scroll-behavior: smooth;
}
.aesModalButton{
  width:100%;
  height:5%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 3rem;
}
.aesModalButton button{
    width:5rem;
    height:2rem;
    margin-right: 2rem;
}
.aesRoundValue{
    width:100%;
    height:7rem;
    border-bottom: 2px dotted black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:1rem;
}
.finalOutputValue{
    width:100%;
    height:7rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.finalOutputValue h6{
    margin-bottom:0.2rem;
}
.finalOutputValue table{
    width:5rem;
}

.aesRoundValue table{
    margin:0rem 2.5rem;
}
.aesRoundValue table tr td,.finalOutputValue table tr td{
    background-color: #96D4D4;

}
.finalOutputValue tr td{
    height:1rem;
}
.aesRoundValue tr td{
    height:1.5rem;
}
.aesXorLogo{
    width:1rem;
    height:1rem;
    border:1px solid black;
    border-radius: 0.5rem;
    position: relative;

}
.aesXorLogo hr:first-child{
    transform: rotate(90deg);
    width:100%;
    color:5px solid black;
    top:0.5rem;
    position:absolute;
    /* margin-left: 0.5rem; */
}
.aesXorLogo hr:last-child{
    width:100%;
    color:5px solid black;
    top:0.4rem;
    position:absolute;
    /* margin-left: 0.5rem; */
}

.simulationStringDiv{
    width:100%;
    height:4rem;
    background-color: aqua;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.simulationStringDiv span{
    color:red;
    font-size:medium;
}
  


