@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    text-decoration:none;
}
html, body {
    height: 100%;
    width:100%;
 }

li,a,p,option{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    text-decoration: none;
    list-style: none;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:30px 10%;
    background-color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    
}
nav .logo{
     display: flex;
     flex-direction: row;
}

nav .logo p{
    font-size: 3rem;
}
nav .logo .one{
    color: rgb(239, 31, 4);
}
nav .logo .two{
    color: rgb(11, 203, 232);
}

nav .logo .three{
    color: rgb(151, 22, 201);
}

.menu1{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
    padding:5px;
}
.menu1 li{
    padding:10px;
    margin:0.5rem;
    width:8rem;
}

.menu1 li a{
    color:black;
}
.menu1 li :hover{
    color:white;
    border: 1;
    padding:0.7rem;
    border-radius: 0.2rem;
    background-image: linear-gradient(to left, rgba(10, 211, 242, 0.6) -26.48%, rgba(154, 71, 232, 0.6) 73.52%);
    transition: ease-in-out 0.2s;
}
.menu1 li.active{
    color:white;
    border: 1;
    padding:0.7rem;
    border-radius: 0.2rem;
    background-image: linear-gradient(to left, rgba(10, 211, 242, 0.6) -26.48%, rgba(154, 71, 232, 0.6) 73.52%);
    transition: ease-in-out 0.2s;
}

.feedback-section {
    position: absolute;
    height: 100%;
    width: 100%;
    background: url();
}

.feedback-container {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
   box-shadow: 0 0 8px;
    
}

.feedback-container form {
    width: 100%;
    text-align: center;
    padding: 150px 150px;
}

form h1 {
    padding: 10px 0;
    font-size: xx-large;
}

form .feedback {
    position: relative;
    

}

.feedback i {
    position:absolute;
    font-size: 20px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

form input {
    width: 100%;
    height: 50px;
    margin: 4px 0;
    border: 1px solid #5c5c5c;
    padding: 20px 15px;
    font-size: 20px;
}

form textarea {

    padding: 5px 15px;
    border: 1px solid #5c5c5c;
    border-radius: 3px;
    font-size: 20px;
    width: 100%;
}


form button {
    margin-top: 5px;
    border: none;
    background: lightgreen;
    color: #222;
    padding: 10px 0;
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
    border-radius: 3px;
}


